In [1]:
import numpy as np
import pandas as pd

In [5]:
data = [1,2,3,4,5]
series = pd.Series(data)
print("Series of data:\n", series )
print("Creating a Series from dict: ")
data = { 'a': "97", 'b': "98", 'c': "99", 'd': "100" }
print(pd.Series(data))

Series of data:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Creating a Series from dict:
a     97
b     98
c     99
d    100
dtype: object

In [6]:
data = [10,20,30,40]
index = ['a','b','c','d']
pd.Series(data,index=index)

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
# creating a df from a dict of list
data = {
    'Name': ['Vinit','Shradha','Kriti','Kareena'],
    'Age': [20,30,32,45],
    'City': ['Mumbai','Mumbai','Punjab','Punjab'],
}
df = pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age    City
0    Vinit   20  Mumbai
1  Shradha   30  Mumbai
2    Kriti   32  Punjab
3  Kareena   45  Punjab
<class 'pandas.core.frame.DataFrame'>

In [11]:
# creating a df from a list of dicts
data = [
    {'Name': 'Vinit', 'Age': 20, 'City': 'Mumbai'}
]
df = pd.DataFrame(data)
print(df, "\n", type(df))

    Name  Age    City
0  Vinit   20  Mumbai
 <class 'pandas.core.frame.DataFrame'>

In [12]:
data = pd.read_csv('laptop_data_cleaned.csv')
df = pd.DataFrame(data)
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [36]:
df['Company'].head()
print(len(df))

1273

In [18]:
df.loc[1]
# df.iloc[1]

Company                Apple
TypeName           Ultrabook
Ram                        8
Weight                  1.34
Price              10.776777
TouchScreen                0
Ips                        0
Ppi                127.67794
Cpu_brand      Intel Core i5
HDD                        0
SSD                        0
Gpu_brand              Intel
Os                       Mac
Name: 1, dtype: object

In [23]:
# df.loc[0][0] ->warning
df.iloc[0][0]

C:\Users\Vinit Solanki\AppData\Local\Temp\ipykernel_31912\984706579.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

'Apple'

In [24]:
# Data manipulations with df
df.dtypes

Company         object
TypeName        object
Ram              int64
Weight         float64
Price          float64
TouchScreen      int64
Ips              int64
Ppi            float64
Cpu_brand       object
HDD              int64
SSD              int64
Gpu_brand       object
Os              object
dtype: object

In [25]:
df.columns

Index(['Company', 'TypeName', 'Ram', 'Weight', 'Price', 'TouchScreen', 'Ips',
       'Ppi', 'Cpu_brand', 'HDD', 'SSD', 'Gpu_brand', 'Os'],
      dtype='object')

In [26]:
df.index

RangeIndex(start=0, stop=1273, step=1)

In [27]:
df.describe()

,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD
count,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000
mean,8.447761,2.041100,10.828218,0.146897,0.279654,146.950812,413.715632,186.252946
std,5.098771,0.669241,0.619565,0.354142,0.449006,42.926775,518.054486,186.531571
min,2.000000,0.690000,9.134616,0.000000,0.000000,90.583402,0.000000,0.000000
25%,4.000000,1.500000,10.387379,0.000000,0.000000,127.335675,0.000000,0.000000
50%,8.000000,2.040000,10.872255,0.000000,0.000000,141.211998,0.000000,256.000000
75%,8.000000,2.310000,11.287447,0.000000,1.000000,157.350512,1000.000000,256.000000
max,64.000000,4.700000,12.691441,1.000000,1.000000,352.465147,2000.000000,1024.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273 entries, 0 to 1272
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      1273 non-null   object
 1   TypeName     1273 non-null   object
 2   Ram          1273 non-null   int64
 3   Weight       1273 non-null   float64
 4   Price        1273 non-null   float64
 5   TouchScreen  1273 non-null   int64
 6   Ips          1273 non-null   int64
 7   Ppi          1273 non-null   float64
 8   Cpu_brand    1273 non-null   object
 9   HDD          1273 non-null   int64
 10  SSD          1273 non-null   int64
 11  Gpu_brand    1273 non-null   object
 12  Os           1273 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 129.4+ KB

In [32]:
df[['Ram', 'Weight', 'Price']].mean(axis=0)

Ram        8.447761
Weight     2.041100
Price     10.828218
dtype: float64

In [35]:
df.select_dtypes(include=['number']).sum()

Ram             10754.000000
Weight           2598.320000
Price           13784.321808
TouchScreen       187.000000
Ips               356.000000
Ppi            187068.383991
HDD            526660.000000
SSD            237100.000000
dtype: float64

In [37]:
df = df.rename(columns={ "Os": "OS" })
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,OS
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [41]:
df[df.isnull()].sum()

Company          0
TypeName         0
Ram            0.0
Weight         0.0
Price          0.0
TouchScreen    0.0
Ips            0.0
Ppi            0.0
Cpu_brand        0
HDD            0.0
SSD            0.0
Gpu_brand        0
OS               0
dtype: object

In [40]:
df[df.isnull()].count()

Company        0
TypeName       0
Ram            0
Weight         0
Price          0
TouchScreen    0
Ips            0
Ppi            0
Cpu_brand      0
HDD            0
SSD            0
Gpu_brand      0
OS             0
dtype: int64

In [49]:
df.drop('Weight(int)',axis=1, inplace=True)
df['Weight(float32)'] = df['Weight'].fillna(df['Weight'].mean()).astype(np.float32)
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,OS,Weight(float32)
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac,1.37
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac,1.34
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others,1.86
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac,1.83
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac,1.37

In [58]:
df['isPremium'] = df['Price']>10.00
print(df.head())
print(df[df['isPremium'] == False])

  Company   TypeName  Ram  Weight      Price  TouchScreen  Ips         Ppi  \
0   Apple  Ultrabook    8    1.37  11.175755            0    1  226.983005
1   Apple  Ultrabook    8    1.34  10.776777            0    0  127.677940
2      HP   Notebook    8    1.86  10.329931            0    0  141.211998
3   Apple  Ultrabook   16    1.83  11.814476            0    1  220.534624
4   Apple  Ultrabook    8    1.37  11.473101            0    1  226.983005

       Cpu_brand  HDD  SSD Gpu_brand      OS  Weight(float32)  isPremium
0  Intel Core i5    0  128     Intel     Mac             1.37       True
1  Intel Core i5    0    0     Intel     Mac             1.34       True
2  Intel Core i5    0  256     Intel  Others             1.86       True
3  Intel Core i7    0  512       AMD     Mac             1.83       True
4  Intel Core i5    0  256     Intel     Mac             1.37       True
     Company  TypeName  Ram  Weight     Price  TouchScreen  Ips         Ppi  \
5       Acer  Notebook    4    2.10  9.967026            0    0  100.454670
10        HP  Notebook    4    1.86  9.951658            0    0  100.454670
11        HP  Notebook    4    1.86  9.819076            0    0  141.211998
20      Asus   Netbook    2    0.98  9.232535            0    0  135.094211
22        HP  Notebook    4    1.86  9.528521            0    0  100.454670
...      ...       ...  ...     ...       ...          ...  ...         ...
1254    Asus  Notebook    4    2.00  9.801561            0    0  100.454670
1262    Acer  Notebook    4    2.40  9.641988            0    0  100.454670
1263    Dell  Notebook    2    2.20  9.913097            0    0  100.454670
1267      HP   Netbook    2    1.17  9.317895            0    0  135.094211
1271  Lenovo  Notebook    2    1.50  9.409283            0    0  111.935204

                  Cpu_brand   HDD  SSD Gpu_brand       OS  Weight(float32)  \
5             AMD Processor   500    0       AMD  Windows             2.10
10            Intel Core i5   500    0     Intel   Others             1.86
11            Intel Core i3   500    0     Intel   Others             1.86
20    Other Intel Processor     0    0     Intel  Windows             0.98
22            AMD Processor   500    0       AMD   Others             1.86
...                     ...   ...  ...       ...      ...              ...
1254  Other Intel Processor  1000    0     Intel  Windows             2.00
1262  Other Intel Processor   500    0     Intel   Others             2.40
1263  Other Intel Processor   500    0     Intel  Windows             2.20
1267  Other Intel Processor     0    0     Intel  Windows             1.17
1271  Other Intel Processor     0    0     Intel  Windows             1.50

      isPremium
5         False
10        False
11        False
20        False
22        False
...         ...
1254      False
1262      False
1263      False
1267      False
1271      False

[140 rows x 15 columns]

In [59]:
# Data Aggregating and Grouping
grouped_mean_df = df.groupby('Company')['Price'].mean()
print(grouped_mean_df)

Company
Acer         10.301821
Apple        11.274645
Asus         10.797073
Chuwi         9.683992
Dell         10.924479
Fujitsu      10.563592
Google       11.374981
HP           10.805129
Huawei       11.235397
LG           11.621737
Lenovo       10.779085
MSI          11.383340
Mediacom      9.645522
Microsoft    11.305010
Razer        11.940528
Samsung      11.173723
Toshiba      11.044669
Vero          9.351166
Xiaomi       10.995970
Name: Price, dtype: float64

In [63]:
df1 = pd.DataFrame([{"Key": ["V","i","n","i","t"], "Value": [0,1,2,3,4]}])
df2 = pd.DataFrame([{"Key": ["S","o","l","a","n","k","i"], "Value": [0,1,2,3,4,5,6]}])

print(df1, df2)

               Key            Value
0  [V, i, n, i, t]  [0, 1, 2, 3, 4]                      Key                  Value
0  [S, o, l, a, n, k, i]  [0, 1, 2, 3, 4, 5, 6]

In [67]:
pd.merge(df1,df2, on="Key", how="inner", )

Empty DataFrame
Columns: [Key, Value_x, Value_y]
Index: []

In [68]:
pd.merge(df1,df2,on="Key", how="outer")

                     Key          Value_x                Value_y
0  [S, o, l, a, n, k, i]              NaN  [0, 1, 2, 3, 4, 5, 6]
1        [V, i, n, i, t]  [0, 1, 2, 3, 4]                    NaN

In [71]:
pd.merge(df1,df2,on="Key",how="right")

                     Key Value_x                Value_y
0  [S, o, l, a, n, k, i]     NaN  [0, 1, 2, 3, 4, 5, 6]

In [74]:
# Reading Data from varius formats
from io import StringIO
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profil":[{ "title1": "Team Lead", "title2": "SDE-2" }]}'
df = pd.read_json(StringIO(Data))
df

  employee_name            email                                  job_profil
0         James  james@gmail.com  {'title1': 'Team Lead', 'title2': 'SDE-2'}

In [76]:
df.to_json(orient="index")

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profil":{"title1":"Team Lead","title2":"SDE-2"}}}'

In [78]:
df.to_json(orient="records")

'[{"employee_name":"James","email":"james@gmail.com","job_profil":{"title1":"Team Lead","title2":"SDE-2"}}]'

In [80]:
%pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   - -------------------------------------- 0.2/3.8 MB 5.1 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/3.8 MB 3.9 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/3.8 MB 3.9 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/3.8 MB 3.9 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/3.8 MB 3.9 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/3.8 MB 3.9 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/3.8 MB 3.9 MB/s eta 0:00:01
   -- ------------------------------------- 0.2/3.8 MB 3.9 MB/s eta 0:00:01
   --- ------------------------------------ 0.3/3.8 MB 729.6 kB/s eta 0:00:05
   ----- ---------------------------------- 0.5/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.7/3.8 MB 1.4 MB/s eta 0:00:03
   ------ --------------------------------- 0.7/3.8 MB 1.4 MB/s eta 0:00:03
   ------ --------------------------------- 0.7/3.8 MB 1.4 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 1.3 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 1.3 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.8 MB 1.4 MB/s eta 0:00:02
   ---------- ----------------------------- 1.0/3.8 MB 1.4 MB/s eta 0:00:02
   ------------ --------------------------- 1.2/3.8 MB 1.5 MB/s eta 0:00:02
   --------------- ------------------------ 1.5/3.8 MB 1.7 MB/s eta 0:00:02
   ------------------ --------------------- 1.8/3.8 MB 1.9 MB/s eta 0:00:02
   ------------------- -------------------- 1.9/3.8 MB 2.0 MB/s eta 0:00:01
   -------------------- ------------------- 1.9/3.8 MB 1.9 MB/s eta 0:00:01
   -------------------- ------------------- 1.9/3.8 MB 1.9 MB/s eta 0:00:01
   --------------------- ------------------ 2.0/3.8 MB 1.8 MB/s eta 0:00:01
   ------------------------ --------------- 2.4/3.8 MB 2.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.4/3.8 MB 2.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.4/3.8 MB 2.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.4/3.8 MB 2.1 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 1.9 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 1.9 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 1.8 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.7 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.7 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.7 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 1.6 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.7 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 1.8 MB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 1.9 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [82]:
%pip install beautifulsoup4

Collecting beautifulsoup4
  Using cached beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Using cached beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
Downloading soupsieve-2.6-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.3 soupsieve-2.6

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [84]:
url = "http://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url, match="Country", header=0)[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN